.search-bar {
  display: none;
  //   padding: 2rem;
  //   display: flex;
  //   gap: 0rem;
  //   width: 50%;
  //   input,
  //   label {
  //     padding: 0.5rem 1rem;
  //     background-color: #dcdce6ff;
  //   }
  //   input {
  //     width: 100%;
  //     border: none;
  //   }
}
@media (max-width: 360px) {
  .search-bar {
    position: static;
    display: block;
    padding: 2rem;
    display: flex;
    gap: 0rem;
    width: 100%;
    input,
    label {
    outline: none;
      padding: 0.5rem 1rem;
      background-color: #dcdce6ff;
    }
    input {
      width: 100%;
      border: none;
    }
  }
}
